<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="!isSmallScreen" [fixedInViewport]="true">
    <mat-toolbar color="primary">Side Nav</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']">Dashboard</a>
      <a mat-list-item [routerLink]="['/user']">Users</a>
      <a mat-list-item>Finance</a>
      <a mat-list-item>Knowledge Base</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-container>
    <mat-toolbar color="accent">
      <button mat-button>
        <mat-icon>menu</mat-icon>
      </button>
      Toolbar from Vitta
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>

</mat-sidenav-container>
<button *ngIf="isSmallScreen"
        class="sidenav-toggle"
        mat-mini-fab
        color="primary"
        [@growInOut]="'in'"
        (click)="sidenav.toggle()">
  <mat-icon>view_list</mat-icon>
</button>
